<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Workbench uses the microphone for dictation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Workbench transcribes your dictation on this Mac.</string>
	<key>ATSApplicationFontsPath</key>
	<string>fonts</string>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-VF.ttf</string>
	</array>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>SUAutomaticallyChecksForUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
</dict>
</plist>
